# $ conda create --name <env> --file <this file>

# This file may be used to create an environment using:

# platform: win-64

ca-certificates
click
colorama
flask
freetype
giflib
gunicorn
importlib-metadata
itsdangerous
jinja2
jpeg
leptonica
lerc
libarchive
libdeflate
libffi
libiconv
libpng
libsqlite
libtiff
libwebp
libwebp-base
libxcb
libxml2
libzlib
lz4-c
lzo
m2w64-gcc-libgfortran
m2w64-gcc-libs
m2w64-gcc-libs-core
m2w64-gmp
m2w64-libwinpthread-git
markupsafe
msys2-conda-epoch
numpy
opencv-python
openjpeg
openssl
packaging
pillow
pip
pthread-stubs
pytesseract
python
python_abi
setuptools
tesseract
tesserocr
tk
tzdata
ucrt
vc
vs2015_runtime
werkzeug
wheel
xorg-libxau
xorg-libxdmcp
xz
zipp
zlib
zstd