<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register App</title>
    <!-- <link rel="stylesheet" href="./register.css">-->
    <style>
    body {
      background-color:rgba(42, 53, 155, 0.394);
      margin-top: 100px;
      padding-left: 50px;}   
    </style>  
  </head>
  
<body background-color:blue;>
<h2>
    注文ファイルをアップロードしてください
</h2>
<form method = post enctype = multipart/form-data>
<p><input type = file name = filename>
<input type = submit value = upload>
</form>
<!-- <h2>   -->
<!-- <div class="sample-class"> -->
<!--    メニュー追加へ  -->
<!-- </div>  -->
<!-- </h2>   -->
<!-- <a href="/insert" role="button">menu</a>0  -->
</body>
</html>